@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  position: absolute;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  left: 0;
  right: 0;
  top: 100px;
  border: .5px solid grey;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  line-height: 2.5;
}


.card{
  width: 100%;
  height: 200px;
  background: #333;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .card {
    object-fit: cover;
    width: 50px;
    height: 100px;
} */


/* .card {
  object-fit: cover;
  width: 50px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
} */

/* .card img {
  max-width: 100%;
} */

.card h2 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.card a {
  display: block;
  margin-top: 10px;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 62vh;
  margin-bottom: 40px;
  /* background-color: #F0F0F0	; */
  background-color: #ffffff;
}

.carousel{
  overflow: hidden;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner{
  white-space: nowrap;
  /* transition: transform 0.3s; */
  box-shadow: 0 5px 15px rgba(0,0,0,0.05)

}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #fff;
}

.carousel-img{
  width: 250px;
  padding: 0 20px 0 20px;
  height: 150px;
  object-fit: cover;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
  height:40;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;

}

.carousel-buttons{
  display:flex;
  justify-content:space-evenly;
  margin-bottom: 20px;
}

.button-arrow{
  background: none;
  border: none;
  cursor: pointer;
  /* margin-top: 20px; */
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f
}

.indicator-symbol-active{
  color:#ffffff;
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  /* border: 1px solid #ccc; */
  /* margin: 1rem 0; */
  background-color: #F0F0F0;
}

.project-table th, .project-table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
}

.project-table th {
  background-color: #f2f2f2;
}


.project-table th, .project-table td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ccc;
}

.project-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #555;
}

.project-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.project-table tr:hover {
  background-color: #f5f5f5;
}

.header {
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
  font-size: '90px';
  text-align: 'center';
  font-weight: 'bold';
  margin-top: '50px';
  position: 'relative';
}